<div class="container">
  <div class="profile text-center">
    <div class="main-content">
      <img src="images/seb.jpeg" alt="" width="150" class="img-circle">
      <h2>Fabricio Zanette</h2>
      <p>Student at Le Wagon</p>
      <a href="#" class="btn btn-primary btn-lg">Get in touch</a>
    </div>
    <div class="stat">
      <div class="stat-content">
        <h3>17</h3>
        <p>contributions</p>
      </div>
    </div>
    <div class="stat">
      <div class="stat-content">
        <h3>0</h3>
        <p>followers</p>
      </div>
    </div>
    <div class="stat">
      <div class="stat-content">
        <h3>5</h3>
        <p>repositories</p>
      </div>
    </div>
    <div class="description">
      <div class="description-content">
        <h3>More about Fabricio</h3>
        <p class="text-justify">
          I am an Economist with 12 years of experience working in banks. After all that time i felt i needed a new challenge so i joined Le Wagon's batch 138 in São Paulo. Hopefully i'll manage to learn every bit of content taught on the course.
        </p>
      </div>
    </div>
  </div>
</div>
