// Define variables for your color scheme
$my_red: rgb(166, 32, 0);
$my_blue: rgb(2, 76, 104);
$my_green: #98F23D;
$my_yellow: #FFC440;
// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
